VALIDATOR_ATTESTATION_STAKING_CONTRACT_ADDRESS={{ starknet.attestor.staking_contract_address }}
VALIDATOR_ATTESTATION_ATTESTATION_CONTRACT_ADDRESS={{ starknet.attestor.attestation_contract_address }}
VALIDATOR_ATTESTATION_STAKER_OPERATIONAL_ADDRESS={{ starknet.attestor.staker_operational_address }}
VALIDATOR_ATTESTATION_STARKNET_NODE_URL="http://{{ ansible_default_ipv4.address }}:{{ starknet.node.ports.rpc_port }}/rpc/v0_8"
VALIDATOR_ATTESTATION_METRICS_ADDRESS="{{ ansible_default_ipv4.address }}:{{ starknet.attestor.ports.metrics_port }}"
