VALIDATOR_ATTESTATION_STAKING_CONTRACT_ADDRESS={{ starknet.attestator.staking_contract_address }}
VALIDATOR_ATTESTATION_ATTESTATION_CONTRACT_ADDRESS={{ starknet.attestator.attestation_contract_address }}
VALIDATOR_ATTESTATION_STAKER_OPERATIONAL_ADDRESS={{ starknet.attestator.staker_operational_address }}
VALIDATOR_ATTESTATION_STARKNET_NODE_URL="http://localhost:{{ starknet.node.ports.rpc_port }}/rpc/v0_8"
VALIDATOR_ATTESTATION_METRICS_ADDRESS="{{ ansible_default_ipv4.address }}:{{ starknet.attestator.ports.metrics_port }}"
