[Unit]
Description={{ service_identifier }}

[Service]
User={{ service_identifier }}
Group={{ project }}
WorkingDirectory={{ attestator_home_dir }}
EnvironmentFile={{ attestator_environment_secret_file_path }}
EnvironmentFile={{ attestator_environment_general_file_path }}
ExecStart={{ attestator_bin_dir }}/{{ service_identifier }} \
    --local-signer
Restart=always
RestartSec=4
LimitNOFILE=65536
MemoryMax=64G
StandardOutput=append:{{ attestator_log_file_path }}
StandardError=inherit

[Install]
WantedBy=multi-user.target
