PATHFINDER_DATA_DIRECTORY={{ node_data_dir }}
PATHFINDER_ETHEREUM_API_URL={{ vault.mainnet.node.ethereum_url }}
PATHFINDER_HTTP_RPC_ADDRESS={{ ansible_default_ipv4.address }}:{{ starknet.node.ports.rpc_port }}
PATHFINDER_MONITOR_ADDRESS={{ ansible_default_ipv4.address }}:{{ starknet.node.ports.metrics_port }}
PATHFINDER_NETWORK={{ starknet.node.network }}
